<div class=" h-full w-full bg-gray-100 flex justify-center pt-10">

  <div class="w-1/4 ">
    <div class="flex justify-center">
      <h4 class="text-3xl font-bold">Login</h4>
    </div>

    <div >
      <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()" class="space-y-6">
        <label class="flex flex-col my-4">
            <div>
              <span    class=" label  text-sm">Email <span>*</span></span>
            </div>
            <div class="w-full">
              <input formControlName="email" class="input2 text-xs" [ngClass]="{
                'border-red-500': (f.email.touched && f.email.invalid) || falseCredential ,
                'border-green-500': f.email.valid
              }" type="email" placeholder="Enter your email" />
            </div>
            <div *ngIf="f.email.touched && f.email.invalid && falseCredential "  class="text-danger">
              <small class="text-red-600 text-xs"  *ngIf="f.email?.errors?.['required']">Email is required</small>
              <small class="text-red-600 text-xs" *ngIf="f.email?.errors?.['email']">The email must be valid.</small>
            </div>
            <small *ngIf="falseCredential" class="text-red-600 text-xs mt-2">Invalid credential, check and try again</small>

        </label>
        <label class="flex flex-col my-4">
          <div>
          </div>
          <div class="w-full">
            <span   class=" label  text-sm">Password <span>*</span></span>
            <input formControlName="password"  class="input2 text-xs" [ngClass]="{
              'border-red-500': (f.password.touched && f.password.invalid) || falseCredential ,
              'border-green-500': f.password.valid
            }" type="password" placeholder="Enter your password" />
          </div>
          <div *ngIf="f.password.touched && f.password.invalid" class="text-danger">
            <small class="text-red-600 text-xs" *ngIf="f.password?.errors?.['required']">Password is required</small>
          </div>
          <small *ngIf="falseCredential" class="text-red-600 text-xs">Invalid credential, check and try again</small>

      </label>
      <label class="w-full">
        <button class="btn rounded-sm bg-blue-500 hover:bg-blue-700 w-full text-white">Login</button>
      </label>
      </form>
      <div class="flex justify-center mt-3">
        <span class="text-sm">don't have an account ? Sign Up <a [routerLink]="['/auth/register']" class="text-blue-500">here</a> </span>
      </div>
    </div>
  </div>

</div>
